<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script src="js/external/underscore.js"></script>
    <script src="js/external/angular.js"></script>
    <script src="js/StringCalculator.js"></script>
    <script src="js/StringCalculatorCtrl.js"></script>
</head>
<body ng-app="training">
<div ng-controller="StringCalculatorCtrl">
    <div>
        <form ng-submit="submit()">
            <input type="text" ng-model="expression" ng-change="changed()"/>
            <button type="submit">Ok</button>
        </form>
    </div>
    <div>result: {{result}}</div>
    <input type="text" ng-model="searchText"/>
    <table>
        <tr>
            <th ng-click="order = 'expression'; revert =!revert">Expression</th>
            <th ng-click="order = 'result'; revert =!revert">Result</th>
        </tr>
        <tr ng-repeat="item in items | filter : searchText | orderBy: order:revert">
            <td>{{item.expression}}</td>
            <td>{{item.result}}</td>
        </tr>
    </table>
</div>
</body>
</html>